<script src="script.js" defer></script>
<h1 class="m-3">Boom Meet</h1>
<br>
<br>
<div class="row">
    <div class="col-6"><div>
        <div class="m-3">
            <h1 class="display-5">
                Welcome <%= user.name %>
            </h1>
            <h1 class="display-5">
                Video meetings
            </h1>
            <h1 class="display-5">
                Now for everyone
            </h1>
            <br>
            <div class="row">
                <div class="col-sm">
                    <a role="button" class="btn btn-success" href="/meet">
                        <h5><i class="fa fa-plus-circle"></i>  New Meeting</h5>
                    </a>
                </div>
                <!-- <div class="col-sm">            
                    <div class="form-group has-feedback">
                        <h5>
                        <input type="text" class="form-control" id="code" placeholder="Meeting code">
                    </h5>
                    </div>
                </div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-dark">
                        <h5>Join meeting</h5>
                    </button>
                </div> -->
              </div>
              <br>
              <div class="col-sm">
                <a role="button" class="btn btn-primary" href="/users/logout">
                    <h5><i class="fa fa-sign-out-alt"></i>  Logout</h5>
                </a>
            </div>
            

        </div>
      </div></div>
    <div class="col-5"><div class="card text-white bg-dark">
        <div class="card-body">
            <img src="https://images.indianexpress.com/2020/06/online-classes.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div></div>
  </div>